@page "/update_company/{Id:guid}"

@inject HttpClient Http
@inject NavigationManager Navigation

<div>
    <button class="btn btn-outline-secondary oi oi-arrow-left" @onclick="GoToReadCompany"></button>
    <h3 class="text-center display-3">Update @Company.Name</h3>
</div>

<hr />

<EditForm Model="Company" OnValidSubmit="@HandleValidSubmit">
    <ObjectGraphDataAnnotationsValidator />

    <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <InputText id="Name" class="form-control" placeholder="Name" @bind-Value="Company.Name" />
            <ValidationMessage For="@(() => Company.Name)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="CompanyFounded" class="col-sm-2 col-form-label">Founded</label>
        <div class="col-sm-10">
            <InputDate id="CompanyFounded" class="form-control" @bind-Value="Company.Founded" />
            <ValidationMessage For="@(() => Company.Founded)" />
        </div>
    </div>

    <hr />

    <div class="row justify-content-md-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

@code {
    [Parameter] public Guid Id { get; set; }
    private Company Company { get; set; } = new Company();

    private void GoToReadCompany()
    {
        Navigation.NavigateTo("/read_companies");
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Company = await Http.GetFromJsonAsync<Company>($"api/Companies/{Id}");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    protected async Task HandleValidSubmit()
    {
        try
        {
            var response = await Http.PutAsJsonAsync($"/api/Companies/{Company.Id}", Company);
            response.EnsureSuccessStatusCode();

            Navigation.NavigateTo("/read_companies");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}

